<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MMIA - LIST</title>
    <link rel="stylesheet" type="text/css" href="CSS/mystyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
<!--BANNER-->
<div id="top_banner">
    <img id="logo" src="../assets/logo3.png">
    <button id="findlove" class="btn btn-outline-success" type="button">Find Love</button>
</div>


<div>
    <table>
        <tr th:each="bride : ${brides}">
            <td>
                <div class="card" style="width: 18rem;">
                    <img  th:src="../assets/${bride.getId()} + .jpg" src="../assets/men1.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 th:text="${bride.getNickname()}" class="card-title">Rui Silva</h5>
                        <p th:text="${bride.getAboutMe()}" class="card-text">I'm a Programer.</p>
                        <form>

                            <div class="form-group;">
                                <label for="exampleInputPassword1">Send a Message</label>
                                <input type="text" class="form-control" id="exampleInputPassword1">
                            </div>
                            <br>
                            <button type="reset" class="btn btn-success">Send</button>
                        </form>

                    </div>
                </div>

            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img th:src="../assets/${bride.getId()} + .jpg" src="../assets/men2.jpg"
                    class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 th:text="${bride.getNickname()}" class="card-title">Diogo Fernandes</h5>
                        <p th:text="${bride.getAboutMe()}" class="card-text">I like Sports and Travel.</p>
                        <form>

                            <div class="form-group;">
                                <label for="exampleInputPassword1">Send a Message</label>
                                <input type="text" class="form-control" id="exampleInputPassword1">
                            </div>
                            <br>
                            <button type="reset" class="btn btn-success">Send</button>
                        </form>

                    </div>
                </div>

            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img th:src="../assets/${bride.getId()} + .jpg" src="../assets/men3.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 th:text="${bride.getNickname()}" class="card-title">Tiago Dias</h5>
                        <p th:text="${bride.getAboutMe()}" class="card-text">I'm a dancer.</p>
                        <form>

                            <div class="form-group;">
                                <label for="exampleInputPassword1">Send a Message</label>
                                <input type="text" class="form-control" id="exampleInputPassword1">
                            </div>
                            <br>
                            <button type="reset" class="btn btn-success">Send</button>
                        </form>
                        <br>

                    </div>
                </div>

            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img th:src="../assets/${bride.getId()} + .jpg" src="../assets/men4.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 th:text="${bride.getNickname()}" class="card-title">Neco Santos</h5>
                        <p th:text="${bride.getAboutMe()}" class="card-text">Sometimes I like boys.</p>
                        <form>

                            <div class="form-group;">
                                <label for="exampleInputPassword1">Send a Message</label>
                                <input type="text" class="form-control" id="exampleInputPassword1">
                            </div>
                            <br>
                            <button type="reset" class="btn btn-success">Send</button>
                        </form>

                    </div>
                </div>

            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img th:src="../assets/${bride.getId()} + .jpg" src="../assets/men5.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 th:text="${bride.getNickname()}" class="card-title">Xico Bento</h5>
                        <p th:text="${bride.getAboutMe()}" class="card-text">I love the Azores.</p>
                        <form>

                            <div class="form-group;">
                                <label for="exampleInputPassword1">Send a Message</label>
                                <input type="text" class="form-control" id="exampleInputPassword1">
                            </div>
                            <br>
                            <button type="reset" class="btn btn-success">Send</button>
                        </form>


                    </div>
                </div>

            </td>
        </tr>


    </table>

</div>

<nav  aria-label="...">
    <ul class="pagination pagination-lg">
        <li class="page-item active" aria-current="page">
      <span  class="page-link">
        1
        <span class="sr-only">(current)</span>
      </span>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
</nav>
<footer>
    <div id="contact">
        Contact: <a href="mailto:name@email.com"> mammamia@mamamia.com</a>
    </div>

    <div class="footer-copyright text-center py-3"> 2020 Copyright:
        <a href="https://mammamia.com/">BMW Carona</a>

    </div>

</footer>

</body>

</html>