<!DOCTYPE html>
<html>
<head>
    <title>MMIA - LIST</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div id="top_banner">
        <img id="logo" src="../../../../../../front-end/assets/logo.png"></img>
        <div  id="sign_in"><a>Sign in</a></div>
    </div>

    <table>
        <tr>
            <td>
                    <div>
                        <img src="tusehiufe.jpg">  </img>
                    </div>
            </td>
        </tr>
    </table>
</body>
</html>