<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MMIA - LIST</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div id="top_banner">
    <img id="logo" src="../../../../../../front-end/assets/logo.png"></img>
    <div  id="sign_in"><a>Sign in</a></div>
</div>
<div id="profile_column_left">
    <table>
        <tr>
            <td>
                <img th:src="profile-pics/${bride.getImg()}">
            </td>
        </tr>
    </table>

</div>
<div id="profile_column_right">
    <table>
       <tr>
           <td th:text="${bride.getFirstName()} + ${bride.getLastName()}"></td>
       </tr>
        <tr>
            <td th:text="${bride.getSex()}"></td>
        </tr>
        <tr>
            <td th:text="${bride.getLocation()}"></td>
        </tr>
        <tr>
            <td th:text="${bride.getAboutMe()}"></td>
        </tr>
    </table>


</div>
</body>
</html>